{% if site.data.exclude_page_title.exclusions contains page.title  %}
{% else %}
  {% assign pagetitle_var = page.title %}
  <div class="page-title-wrapper">
                <!-- codeblock that generates address navigation -->
                {% assign homelink = '<a href ="/">.</a>'%}
                {% capture currentPage %}<a href="{{page.link}}">\{{ page.filename }}</a>{% endcapture %}
                {% if page.belongsto %}
                  {% capture dirLink %}<a href ="/{{page.belongsto}}">\{{page.belongsto}}</a>{% endcapture %}
                {% endif %}
              <small>{{homelink}}{{dirLink}}{{currentPage}}</small>
            <h2>{{pagetitle_var}}</h2>
            {% if page.tags %}
              <small style="float:right;">tags: {{page.tags}}</small>
            {% endif %}
          </div>
{% endif %}