    <!-- Sidebar -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <div class="sidebar-header">
                <h3><a href="/">ciprian droc</a></h3>
            </div>
            {% for item in site.data.sidebar %}
            {% if item.subpage %}
            <li class="active">
                <a href="#{{item.name}}Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ item.name }}</a>
                <ul class="collapse list-unstyled" id="{{item.name}}Submenu">
                    {% for subitem in item.subpage %}
                    <li>
                        <a href="{{subitem.link}}">{{ subitem.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% else %}
            <li>
                <a href="{{item.link}}">{{ item.name }}</a>
            </li>
            {% endif %}
            {% endfor %} 
        </ul>
    </nav>