---
layout: default
title: test_cards
---
<br>
{% assign highlight_pages = site.html_pages | where: "highlight", true | sort: "highlight_index","last" %}
{% assign subArraySize = 3 %}
{% assign multiArray = "" | split: "/" %}

{% for element in highlight_pages %}
  {% assign reminder = forloop.index | modulo: subArraySize %}
  {% if reminder == 1 %}
    {% assign subArray = "" | split: "/" %}
  {% endif %}
  {% assign subArray = subArray | push: element %}
  {% if reminder == 0 or forloop.last %}
    {% assign multiArray = multiArray | push: subArray %}
  {% endif %}
{% endfor %}

{% for subArray in multiArray %}
<div class="card-deck featured-wrapper">
    {%for item in subArray %}
        {% assign highlight_item_link = nil %}
        {% assign highlight_item_link = item.path | remove: '.md' %}
        {% assign highlight_item_link = '/' | append: highlight_item_link %}
        <div class="card">
          <div class="card-body">
            <a href="{{highlight_item_link}}"><h5 class="card-title">{{ item.title }}</h5></a>
            <p class="card-text">{{item.description}}</p>
            <p class="card-text" style="line-height: 20px;">
              <small class="text-muted">posted on: {{item.post_date}}</small><br>
              <small class="text-muted">category: {{item.belongsto}}</small>
            </p>
          </div>
        </div>
    {% endfor%}
  </div>
  <br>
{% endfor %}
<hr>

