<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% seo %}
  <head>
    <script>
      function myFunction() {
         var element = document.body;
         element.classList.toggle("bg-dark");
         darkModeBtn.classList.toggle("bg-light");
         navbar.classList.toggle("bg-dark");
      }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>


  <body class="bg-light">
    {% include navbar.html %}
          <div class="Content">
            
            <!-- codeblock that generates pagetitle -->
            {% if site.data.exclude_page_title.exclusions contains page.title  %}
            {% else %}
              {% assign pagetitle_var = page.title %}
              <div class="page-title-wrapper">
                            <!-- codeblock that generates address navigation -->
                            {% if page.title != "Home" %}
                            {% assign homelink = '<a href ="/">.</a>'%}
                            {% capture currentPage %}<a href="{{page.link}}">\{{ page.filename }}</a>{% endcapture %}
                            {% if page.belongsto %}
                              {% capture dirLink %}<a href ="/{{page.belongsto}}">\{{page.belongsto}}</a>{% endcapture %}
                            {% endif %}
                          {% endif %}
                          <small>{{homelink}}{{dirLink}}{{currentPage}}</small>
                        <h2>{{pagetitle_var}}</h2>
                        {% if page.tags %}
                          <small style="float:right;">tags: {{page.tags}}</small>
                        {% endif %}
                      </div>
            {% endif %}


            {{ content }}

            {% include footer.html %}
          </div>
  </body>

</html>