<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% seo %}
  <head>
    <script>
      function myFunction() {
         var element = document.body;
         element.classList.toggle("bg-dark");
         darkModeBtn.classList.toggle("bg-light");
      }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="bg-light">
    <div class="wrapper">
        {% include sidebar.html %}
      <div id="content">
        {% include topbar.html %}
        <div id="subContent">
          {{ content }}
          {% include footer.html %}
        </div>
      </div>
    </div>
  </body>
</html>